form .form-group .ui-menu {
    font-size: 16px;
}
.ui-menu .ui-menu-item div {
    border-radius: 0;
    padding: 10px;
    border: none !important;
    border-bottom: 1px solid #D2D2D2 !important;
}
.ui-menu .ui-menu-item div:hover {
    cursor: pointer;
}
.ui-menu .ui-menu-item:last-child div {
    border-bottom: 1px solid #F5F5F5 !important;
}
.ui-menu .ui-menu-item div.ui-state-focus, .ui-menu .ui-menu-item div.ui-state-active {
    background: #787878;
    color: white;
    margin: 0;
    border: none !important;
    border-bottom: 1px solid #A0A0A0 !important;
}
.div-autocompleteajax {
    position: relative;
}